.slider {
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
}




.image{
    height: 100%;
    
}
.image:after{
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
    /* background-image: linear-gradient(to right, rgba(47, 44, 52, 0.7) 25%, rgba(47, 44, 52, 0) 80%); */
    background-image: linear-gradient(to left, #11de93, #0e7ad6);

}

.description{
    position: absolute;
    top: 40%;
    left: 25%;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.description.active{
    top: 40%;
    left: 25%;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.delay{
    opacity: 0;
    transition-duration: 1s ease;
}

.delay.active{
    opacity: 1;
}


.delay.active:nth-child(1){
    transition-duration: 0.5s;
    transform: translate(0, 30px)
}
.delay.active:nth-child(2){
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transform: translate(0, 30px)
}

.delay.active:nth-child(3){
    transition-duration: 0.5s;
    transition-delay: 1s;
    transform: translate(0, 30px)
}


.slideDesc{
    font-size: 25px;
    color: white;
}

.slideTitle{
    
    font-size: 50px;
    color:white;
}

.slideInfo{
    color: #e6c1a8;
    font-size: 30px;
}

.rightArrow{
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    background-repeat:no-repeat;
    border: solid;
    border-width: 1px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width:55px;
    border-color: #e6c1a8;
    color: #e6c1a8;
    font-size: 45px;
    transition: box-shadow .15s ease-in-out;
    transition: 0.6s;
}

.slider .rightArrow{
    right: 15%;
}

.slider .leftArrow{
    left: 15%;
}

.rightArrow:hover,
.leftArrow:hover{
    
    color: white;
    box-shadow: inset 0 -55px #e6c1a8;
    transition: 0.6s;
}

.leftArrow{
    display: flex;
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    background-repeat:no-repeat;
    border: solid;
    border-width: 1px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width:55px;
    border-color: #e6c1a8;
    color: #e6c1a8;
    font-size: 45px;
    transition: box-shadow .15s ease-in-out;
    transition: 0.6s;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
    
}

.slide.active{
    opacity: 1;
    transition-duration: 1s ;
    display: inline-block;
	position: relative;    
	line-height: 0;
}


.slide.active:after{
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
    background-image: linear-gradient(to right, rgba(47, 44, 52, 0.7) 25%, rgba(47, 44, 52, 0) 80%);
}

.next{
    width: 100%;
    height: 500px;
    background: linear-gradient(to right, rgba(47, 44, 52, 0.7) 25%, rgba(47, 44, 52, 0) 80%);
}

.comfortable{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    text-align: center;
    min-width: 1200px;
    min-height: 44px; 
}


.comfortable:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #d0aa8c;
    transform: translate(100%, 0px)!important
}

.comfortable:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #d0aa8c;
    transform: translate(-144%, 40px)!important
}

.timeWithComf{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeText{
    text-align:center;
    font-size: 13px;
}

.timeDescr{
    width: 70%;
    height: 98px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(https://pegasus-luxury.com/wp-content/uploads/2019/04/adv-bg.jpg);
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.timeBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

.timeImg{
    display: flex;
    margin-right: 20px;
    background-color: #2f2c34;
    width: 50px;
    height: 50px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  
}

.timeImg:hover{
    transition-duration: .7s;
    transition-property: border-radius,background-color;
    border-radius: 25px;
    background-color: #d0aa8c;
    line-height: 0;
    transition: 0.7s;
    transform: rotate(1turn);
}

.timeP{
    font-size: 13px;
    margin: 0;
    width: 200px;
}

h4{
    margin: 0;
    color: #d0aa8c;
}

.animated{
        order: 2;
}

.animated:hover + .timeImg{
    transition-duration: .7s;
    transition-property: border-radius,background-color;
    border-radius: 25px;
    background-color: #d0aa8c;
    line-height: 0;
    transition: 0.7s;
    transform: rotate(1turn);
}

.textRazdel{
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin: 20px 0;
}


.buisnessTransfer{
    width: 100%;
    background-image: url("https://pegasus-luxury.com/wp-content/uploads/2018/10/mainPageSlider-slide3.jpg");
    height: 700px;
    background-color: rgba(255,255,255,0);
    
}

.buisness{
    width: 100%;
    height: 700px;
    background: linear-gradient(90deg,rgba(47,44,52,0),#2f2c34 50%,#2f2c34);
    display: flex;
    flex-direction: column;
    color: white;
}

.buisnessText{
    text-align: center;
}

.advant{
    text-align:center;
}

.buisnessTitlte{
    text-align: center;
    font-size: 40px;
}

.comfortable{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    text-align: center;
    min-width: 1200px;
    min-height: 44px; 
}


.buisnessTitlte:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #d0aa8c;
    transform: translate(44%, 30px)!important
}

.buisnessTitlte:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #d0aa8c;
    transform: translate(-144%, 30px)!important
}

.buisness p{
    font-size: 13px;
}

.advant p{
    font-size: 21px;
}

.titleContainer{
    margin-top: 20px;
}

.titleContainer p{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.razd{
    border-top: solid;
    border-color: #d0aa8c;
    border-top-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
    max-width: 80px;
    margin-top: 15px;
}

.razd{
    border-top: solid;
    border-color:#d0aa8c;
    border-top-width:1px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    max-width:90px;
}

.advantages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section{
    display: flex;
    width: 270px;
    height: 170px;
    flex-direction: column;
    text-align: center;
    font-size: 21px;
    position: relative;
}

.section:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 145px;
    margin: auto 0;
    background: #d0aa8c;
    position: absolute;
    right: 0;
    top: 0;
}

.section:last-child:after{
    background: none;
}

.highService{
    text-align: center;
}

.highService p{
    font-size: 17px;
    margin: 0;
    margin-top: 40px;
}

.highServiceTitle{
    font-size: 38px;;
}

.highServiceTitle:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #d0aa8c;
    transform: translate(100%, 30px)!important
}

.highServiceTitle:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #d0aa8c;
    transform: translate(-200%, 30px)!important
}

.highContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.highLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-basis: 50%;
    border-right: solid;
    border-width: 2px;
    border-color: #d0aa8c;
    
}

.highLeft img{
    height: 175px;
    width: 550px;
    background-size: cover;
    overflow: hidden;
    margin: 10px;
    
}

.imgString{
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.imgString{
    width: 100%;
    overflow: hidden;
}

.imgString img{
    width: 100%;
    height: 175px;
    width: 264px;

}

.highRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}

.highRight p{
    font-size: 11px;
    width: 480px;
}

.highRight .carLink{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.leftTitle{
    color: #d0aa8c;
    font-size: 21px;
}

.carouselContainer{
    display: flex;
    justify-content: center;
}

.taxi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taxiOne{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.taxiImg{
    width:100%;
    height: 100%;
}

.taxiDescOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.taxiTitle p{
    font-size: 16px !important;

}

.taxiBigTitle{
    font-size: 36px;
}

.taxi p {
    font-size: 13px;
}