
.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: top;
    background-color: #f8efe9;

}


.header{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #f8efe9;
    margin-left: 360px;
    margin-right: 360px;
}

.lineNumber{
    
    color: #2c2831;
    display: flex;
    border-style: solid;
    border-bottom: white;
    border-left: white;
    border-right: white;
    flex-basis: 50%;
    border-width: 1px;
    /* margin-left: 80px; */
    margin-right: 80px;
}

.lineButtom{
    color: #2c2831;
    display: flex;
    justify-content: flex-end;
    border-style: solid;
    border-bottom: white;
    border-left: white;
    border-right: white;
    flex-basis: 50%;
    border-width: 1px;
    /* margin-right: 80px; */
    margin-left: 80px;
    align-items: center;
}

.number{
    color: #2c2831;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 100px;
    padding-top: 25px;
}


.rectangle{
    display: flex;
    justify-content: space-around;
    background-color: #3e353a;
    color: white;
    height: 60px;
    padding-left: 325px;
    padding-right: 325px;
}

.logo{
    position: absolute;
    left: 40.5%;
    top: 20%;
    bottom: 0px;
    z-index: 1;
}


.button{
    padding: 0px;
    font-size: 14px;
    background: transparent;
    border: 1px solid;
    width: 186px;
    height: 30px;
    text-align: center;
    margin-left: 30px;
    /* position: absolute; */
    /* right: 0px;
    left:1610px; */
    top: 55px;
    bottom: 0px;
    color: white;
    background: #deac8c;
    transition: 0.5s;
    
}

.button:hover{
    color: black;
    background: #fff;
    transition: 0.5s
}

.rectButton{
    color: white;
    background: #3e353a;
    padding: 0px;
    font-size: 14px;
    background: transparent;
    border: none;
    font-size: 20px;
    margin-left: 90px;
    margin-right: 90px;

}

.p1{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.p2{
    display: flex;
    align-items: center;
    font-size: 25px;
    line-height: 4;
    opacity: 0.2;
}

.colorText{
    color: #e6c1a8;
    font-size: 12px;
}
.colorText:after{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 40px;
    height: 1px;
    background-color: #e6c1a8;
    position: relative;
    margin-right: -100%;
    right: -93px;
    top: -8px
}

.main{
    display: flex;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 4px;
    justify-content: center;
}

.colorMainText{
    color: #e6c1a8;
}

hr{
    margin-left: 100px;
    margin-right: 100px;
    opacity: 50%;
}

.mainTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tour{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    
}
.tour:after,
.tour:before{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 79px;
    height: 2px;
    background-color: #e6c1a8;
    position: relative;
    
}

.tour:after{
    margin-right: -100%;
    right: -192px;
    top: -16px
}
.tour:before{
    margin-right: -100%;
    left: -100px;
    bottom: -22px
}

.text{
    padding-top: 40px;
    text-align: center;
    letter-spacing: 1.2px;;
    color: #4d4042;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

li{
    display: flex;
    list-style-type: none;
    color: white;
    align-items: center;
    padding: 0px;
}

.razdel{
    opacity: 50%;
}

.rectLink{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    transition: 0.3s;
}

.rectLink:hover{
    color: #e6c1a8;
    transition: 0.3s;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
    /* margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    padding-left: 100px;
    padding-right: 100px; */
  }

.EventCard{
    margin: 0px;
    height: 50%;
    width: 50%;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


.theme{
        padding: 0px;
        margin: 0px;
        font-size: 30px;
        color: #4d4042;
        padding-top: 20px;
        
    }

    .date{
        padding: 0px;
        margin: 0px;
        /* font-size: 30px; */
        color: #e6c1a8;
        
    }
    .date:after,
    .date:before{
        content:"";
        display: flex;
        vertical-align: middle;
        width: 79px;
        height: 2px;
        background-color: #e6c1a8;
        position: relative;
        
    }
    
    .date:after{
        margin-right: -100%;
        right: -192px;
        top: -10px
    }
    .date:before{
        margin-right: -100%;
        left: -100px;
        bottom: -12px
    }   

    /* .theme:after{
        content:"";
        display: flex;
        vertical-align: middle;
        width: 79px;
        height: 2px;
        background-color: #e6c1a8;
        position: relative;
        margin-right: -100%;
        right: -140px;
        top: 20px;
    } */


  .item-1{
    /* background-color: red; */
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  .item-2{
    /* background-color: green; */
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .item-3{
    /* background-color: pink;     */
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .item-4{
    /* background-color: yellow;     */
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .item-5{
    /* background-color: blue;     */
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .item-6{
    /* background-color: brown;     */
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }


  .theme-1{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    padding-top: 20px;
    
}
.theme-1:after{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 79px;
    height: 2px;
    background-color: #e6c1a8;
    position: relative;
    margin-right: -100%;
    right: -140px;
    top: 20px;
}

.theme-2{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    padding-top: 20px;
}
.theme-2:after{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 79px;
    height: 2px;
    background-color: #e6c1a8;
    position: relative;
    margin-right: -100%;
    right: -180px;
    top: 20px;
}

.theme-3{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    padding-top: 20px;
}
.theme-3:after{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 79px;
    height: 2px;
    background-color: #e6c1a8;
    position: relative;
    margin-right: -100%;
    right: -120px;
    top: 20px;
}

.theme-4{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    padding-top: 20px;
}
.theme-4:after{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 79px;
    height: 2px;
    background-color: #e6c1a8;
    position: relative;
    margin-right: -100%;
    right: -60px;
    top: 20px;
}

.theme-5{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    padding-top: 20px;
}
.theme-5:after{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 79px;
    height: 2px;
    background-color: #e6c1a8;
    position: relative;
    margin-right: -100%;
    right: -50px;
    top: 20px;
}

.theme-6{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #4d4042;
    padding-top: 20px;
}
.theme-6:after{
    content:"";
    display: flex;
    vertical-align: middle;
    width: 79px;
    height: 2px;
    background-color: #e6c1a8;
    position: relative;
    margin-right: -100%;
    right: -80px;
    top: 20px;
}

footer{
    margin-top: auto;
    background-color: #3e353a;
    display: flex;
    flex-basis: content;
    color: white;
    flex-direction: column;
    padding-top: 40px;
    background-image: url(Footer/footer.png);
    background-position: bottom;
    padding-left: 300px;
    padding-right: 300px;
}

.footerInfo{
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
}


.ul{
    border-right: solid;
    margin-top: 10px;
    margin-right: 0px;
    padding-right: 70px;
    padding-left: 0px;

}

.footerLink{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 7px;
    transition: 0.2s;
}

.footerLink:hover{
    transition: 0.2s;
    color: #e6c1a8;
}

.footerBtn{

        color: white;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        background: transparent;
        border: none;
        border-bottom: 1px solid;
        transition: 0.3s
        
        
        
      
}
    .footerBtn:hover{
        opacity: 50%;
        transition: 0.3s;
        color: #e6c1a8;
    }

    .footerButton{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .numberAndPages{
        border: solid;
        border-color: white;
        border-width: 1px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .sub{
        padding: 0px;
        margin-bottom: 10px;
        font-size: 10px;
        text-align: end;
    }

    .podcherk{
        padding: 0px;
        margin: 0px;
        font-size: 20px;
    }

    .podcherk:after{
        content:"";
        display: flex;
        vertical-align: middle;
        width: 79px;
        height: 2px;
        background-color: #e6c1a8;
        position: relative;
        margin-right: -100%;
        right: -8px;
        top: 7px;
        margin-bottom: 20px;
    }


    .info{
        margin-left: 120px;
        padding-bottom: 20px;
        margin-top: 20px;
        opacity: 60%;
    }

    .img{
        min-height: 213px;
        max-width: 563px;
        max-height: 213px;
        min-width: 563px;
        transition: 0.3s;
        
    }

    .img:hover{
        opacity: 50%;
        transition: 0.3s;
    }

    .imgBackground{
        background-color: #e6c1a8;
    }

    .p{
        color: #4d4042;
    }

    .more{
        padding: 0px;
        font-size: 14px;
        background: transparent;
        border: 1px solid;
        width: 230px;
        height: 35px;
        text-align: center;
        /* position: absolute; */
        /* right: 0px;
        left:1355px;
        top: 55px; */
        bottom: 0px;
        margin-top: 20px;
        transition: 0.5s;
        border-color: #4d4042;
        background-color: #F8EFE9;
    }

.more:hover{
    color: white;
    background: #deac8c;
    transition: 0.5s
}

.link{
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3;
    color: #4d4042;
}

.linkActive{
    color: #deac8c;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.link:hover{
    /* background: #deac8c; */
    transition: 0.3s;
    color: #deac8c;
}


.otstyp{

}

.rectLink.active{
    color: #deac8c;
}